@font-face {
  font-family: Pretendard;
  font-weight: 45 920;
  font-display: swap;
  src: url("/static/fonts/PretendardStdVariable.woff2");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-display: swap;
  src: url("/static/fonts/ibmplexmono-regular.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-display: swap;
  src: url("/static/fonts/ibmplexmono-bold.woff2") format("woff2");
}

body {
  font-family: Pretendard, apple-system, system-ui, "Helvetica", "Arial", sans-serif;
  background-color: #fdfdfd;
  color: #262626;
}

table{
  width: 70%;
  border-collapse: collapse;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

tr {
  text-align: left;
}

th, td {
  margin-left: 20px;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: #2563eb33;}

html {
  font-size: 15px;
  line-height: 1.5;
}

.fancy-link {
  color: #1e40af;
  transition: color 0.1s, background-color 0.1s;
  background-color: #2563eb33;
  text-decoration: none;
  border-radius: 4px;
  padding: 0.16em 0.3em;
  font-size: 15px;
  margin: -0.2em 0;
  line-height: 1.7;
  white-space: nowrap;
}

.fancy-link:hover {
  color: #2563eb;
  background-color: #3b82f633;
}